<div>
  <table>
      <% item.comments.each do |comment| %>
      <tbody class="border-top border-bottom">
        <tr>
          <th>プロフィール画像</th>
          <td><%= image_tag comment.user.get_profile_image, size: "50x50" %></td><!--userモデルにメソッドを書く-->
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= comment.user.name %></td>
        </tr>
        <tr>
          <th>コメント</th>
          <td><%= comment.comment_content %></td>
          <td>
          <% if comment.user == current_user %>
           <%= link_to "削除", item_comment_path(item, comment.id), method: :delete, class: "btn btn-sm btn-danger float-end", remote: true %>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>コメント日時</th>
          <td><%= l comment.created_at, format: :long %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>