<h4><%= @category.name %>一覧</h4>
<%= link_to "新規投稿", new_item_path, class: "btn btn-success" %>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'public/categories/category', categories: @categories %>
    </div>
    <% @items.each do |item| %>
      <div class="col-4 border">
        <p><%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image,size: "200x200" %><% end %>
        </p>
        <p><%= item.name %></p>
        <p><%= link_to item.user.name , user_path(item.user.id) %></p><!--違うかもしれん-->
        <p>♡<%= item.favorites.count %></p>
        <p>コメント数:<%= item.comments.count %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination justify-content-center">
  <%= paginate @categories %><!--変わるかも-->
</div>