<div class="top-view">
  <% if user_signed_in? %>
   <h1>漢のスキンケアをお楽しみください！</h1><!--いいね数多い順とか表示できるかも-->
  <% else %>
   <h1>ようこそ！！漢のスキンケアへ！！</h1>
   <p class="text-center"><%= link_to "ゲストログイン",users_guest_sign_in_path, class: "btn btn-outline-success" , method: :post%></p>
   <p class="text-center"><%= link_to "新規作成",new_user_registration_path, class: "btn btn-success" %></p>
   <p class="text-center"><%= link_to "ログイン",new_user_session_path, class: "btn btn-primary" %></p>
  <% end %>
</div>

  <div class="slideshow-container">
    <div class="slide fade">
     <%= image_tag "4541595_s.jpg" %>
    </div>
     <div class="slide fade">
    <%= image_tag "bathroom-shelving-mirror.jpg" %>
     </div>
    <div class="slide fade">
     <%= image_tag "26033174_s.jpg" %>
    </div>
    <div class="slide fade">
     <%= image_tag "26033175_s.jpg" %>
    </div>
  </div>
