<h4>いいね一覧</h4>
<div class="container">
 <div class="row">
   <% @favorites.each do |favorite| %>
    <div class="col-3 border text-center">
     <p><%= image_tag favorite.item.get_image, size: "100x100" %></p>
     <p>商品名: <%= favorite.item.name %></p>
     <p>ユーザー名: <%= favorite.user.name %></p>
     <p>♡<%= favorite.item.favorites.count %></p>
     <p>コメント数:<%= favorite.item.comments.count %></p>
    </div>
   <% end %>
 </div>
</div>