<h4>ここにいいね一覧</h4>
<% @favorites.each do |favorite| %>
 <div>
     <p><%= image_tag favorite.item.get_image, size: "100x100" %></p>
     <p><%= favorite.item.name %></p>
     <p><%= favorite.user.name %></p>
     <p>♡<%= favorite.item.favorites.count %></p>
     <p>コメント数:<%= favorite.item.comments.count %></p>
<% end %>
 </div>