<%= render 'public/items/errors', item: @category %>
<div class="container">
  <h4 class="p-4 font-weight-bold">カテゴリー一覧・追加</h4>
<div class="row">
　 <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
    <table>
      <tr>
        <td class="font-weight-bold">カテゴリー名</td>
        <%= form_with model:  @category, url: admin_categories_path do |f| %>
        <td><%= f.text_field :name , placeholder: "カテゴリー名"%></td>
        <td><%= f.submit '追加', class: "btn btn-success" %></td>
        <% end %>
      </tr>

       <tr>
         <th>カテゴリー名</th>
       </tr>
       <% @categories.each do |category| %>
       <tr>
         <td><%= category.name %></td>
         <td><%= link_to "削除", admin_category_path(category.id),class: "btn btn-danger" ,method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
       </tr>
       <% end %>
    </table>
   </div>
  </div>
</div>


