<div class="container">
  <h4 class="p-4 font-weight-bold">ブックマーク一覧</h4>
  <div class="row">
   <% @bookmarks.each do |bookmark| %>
    <div class="col-3 border text-center">
     <p><%= image_tag bookmark.item.get_image, size: "100x100" %></p>
     <p>商品名: <%= bookmark.item.name %></p>
     <p>ユーザー名: <%= bookmark.user.name %></p>
     <p>♡<%= bookmark.item.favorites.count %></p>
     <p>コメント数:<%= bookmark.item.comments.count %></p>
    </div>
   <% end %>
 </div>
</div>
<div class="pagination justify-content-center">
  <%= paginate @bookmarks %><!--変わるかも-->
</div>
