 <div class="container-fluid mt-5">
  <%= flash[:error] %>
   <h5 class="font-weight-bold w-25 text-center ml-5">ログイン</h5>
    <div class="row mt-3 mx-auto">
     <div class="col-9 mx-auto">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table class="table table-borderless ml-5" style="display:inline-block">
    <thead></thead>
        <tbody>
          <tr>
            <td><%= f.label :メールアドレス %></td>
            <td colspan="5"><%= f.email_field :email, size:"60*20", autofocus: true, placeholder:"sample@example.com", autocomplete: "email" %></td>
          </tr>
          <tr>
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, size:"60*20", autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit "ログイン" ,class: 'btn btn-primary mt-2 btn-lg' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
     <%= render "public/shared/links" %>
    </div>
  </div>
</div>
