<div class="container">
  <h4 class="p-4 font-weight-bold"><%= @user.name %>さんのいいね一覧</h4>
  <div class="row">
   <% @favorited.each do |favorite| %>
    <div class="col-3 border text-center">
     <p><%= image_tag favorite.get_image, size: "100x100" %></p>
     <p>商品名: <%= link_to favorite.name, item_path(favorite.id) %></p>
     <p>ユーザー名: <%= favorite.user.name %></p>
     <p>♡<%= favorite.favorites.count %></p>
     <p>コメント数:<%= favorite.comments.count %></p>
    </div>
   <% end %>
 </div>
</div>
<div class="pagination justify-content-center">
  <%= paginate @favorited %><!--変わるかも-->
</div>