 <%= render 'errors', item: @item %>
<div class="container">
 <div class="row">
   <%= form_with model: @item do |f| %>

    <h4>商品画像</h4>
    <%= f.file_field :image, accept: "image/*" %><!--画像が残らない-->

    <h4>商品名</h4>
    <%= f.text_field :name %>

    <h4>価格</h4>
    <%= f.text_field :value %>

    <h4>カテゴリー名</h4>
    <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: "カテゴリーを選択してください" } ,{ class: "form-control" } %>

    <h4>感想</h4>
    <%= f.text_field :review %>

    <!--おすすめ度、余裕があれば入れる-->
    <div class="pt-4">
        <%= f.submit '変更を保存', class: "btn btn-success" %>
      </div>
   <% end %>
   </div>
</div>

<!--新規投稿とテンプレートにする-->
