<h4>投稿一覧</h4>
<div>
  <% @items.each do |item| %>
      <p><%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image,size: "200x200" %><% end %>
      </p>
      <p><%= item.name %></p>
      <p><%= link_to item.user.name , user_path(item.user.id) %></p><!--違うかもしれん-->
      <p>♡<%= item.favorites.count %></p>
      <p>コメント数:<%= item.comments.count %></p>
  <% end %>
</div>