<h4>投稿一覧</h4>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'public/categories/category', categories: @categories %>
    </div>
    <% @items.each do |item| %>
      <div class="col-3 border text-center">
        <p><%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image,size: "200x200" %><% end %>
        </p>
        <p><%= item.name %></p>
        <p><%= link_to item.user.name , user_path(item.user.id) %></p><!--違うかもしれん-->
        <p>♡<%= item.favorites.count %></p>
        <p>コメント数:<%= item.comments.count %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination justify-content-center">
  <%= paginate @items %><!--変わるかも-->
</div>