<%= render 'errors', item: @item %>
<div class="container">
  <h2 class="p-4 font-weight-bold">あなたのおすすめのスキンケア商品を投稿しましょう！！</h2>
    <div class="row">


      <%= form_with model: @item, method: :post do |f| %>
      <h4>商品画像</h4>
      <%= f.file_field :image, accept: "image/*" %>

      <h4>商品名</h4>
      <%= f.text_field :name %>

      <h4>価格</h4>
      <%= f.text_field :value %>

      <h4>カテゴリー名</h4>
      <%= f.collection_select :category_id, Category.all, :id, :name, { include_blank: "カテゴリーを選択してください" } ,{ class: "form-control" } %>

      <h4>感想</h4>
      <%= f.text_area :review, size:"50*20" %></br>

       <div class="form-group" id="star"><!--form-groupもいるかも-->
         <%= f.label :star %>
         <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
         <div id="post_raty"></div><!--post_ratyかもしれない-->
       </div>
       <script>
         $(document).on('turbolinks:load', function(){
           let elem = document.querySelector('#post_raty');
           if(elem == null) return;

           elem.innerHTML = ""
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'item[star]',
            };
           raty(elem, opt);
         });
       </script>
      <div class="pt-4">
        <%= f.submit '投稿', class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
</div>

<!--p><!--%= link_to "投稿",posts_path, class: "btn btn-primary" %></p>

