<h4>投稿詳細</h4>
<div>
  <%= image_tag @item.get_image %>
  <p><%= @item.user.name %></p>
  <p><%= @item.name %></p>
  <p><%= @item.value %>円</p>
  <p><%= @item.category_id.name</p>
  <p><%= @item.review %></p>
</div>
