<!DOCTYPE html>
<html>
  <head>
    <title>OtokoNoSkincare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/04f10c2a51.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
   <header class="shadow-sm  bg-info">
    <nav class="navbar navbar-expand-lg navbar-light">
       <a href="/" class="navbar-brand ml-5"><!--%= image_tag asset_path('Fashion_Style-removebg-preview', size: "200x125") %--></a>
        <%= form_with url: search_path, local: true, method: :get do |form| %><!--ここは変更濃厚-->
          <%= form.text_field :keyword %>
          <%= form.submit '検索' %>
        <% end %>
       <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> <!--navbarの色がない-->
       </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item p-3">
          <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link, text-white' %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "投稿一覧", items_path, class: 'nav-link, text-white'  %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "新規投稿", new_item_path, class: 'nav-link, text-white' %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link, text-white' %>
        </li>
        <% elsif admin_signed_in? %>
        <li class="nav-item p-3">
          <%= link_to"会員一覧",admin_users_path, class: 'nav-link, text-white' %>
        </li>
        <li class="nav-item p-3">
          <%= link_to"投稿一覧",admin_items_path, class: 'nav-link, text-white' %>
        </li>
        <li class="nav-item p-3">
          <%= link_to"カテゴリー一覧",admin_categories_path, class: 'nav-link, text-white' %>
        </li>
         <li class="nav-item p-3">
          <%= link_to"ログアウト",destroy_admin_session_path, method: :delete,class: 'nav-link, text-white' %>
        </li>
      <% else %>
        <li class="nav-item p-3">
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link, text-white' %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link, text-white' %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'nav-link, text-white', method: :post %>
        </li>
        <li class="nav-item p-3">
          <%= link_to "About", home_about_path, class: 'nav-link, text-white' %>
        </li>
      <% end %>
    </ul>
   </div>

    </nav>
   </header>
    <main>
      <div>
        <%= flash[:notice] %>
      </div>
     <%= yield %>
      <footer class="pt-5 pb-4">
        <p class="text-center" style="color: #291b25">Otoko-no-skin_care</p>
      </footer>
    </main>
  </body>
</html>
