<!DOCTYPE html>
<html>
  <head>
    <title>OtokoNoSkincare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
       <a href="/" >漢のスキンケア</a>
       <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> <!--navbarの色がない-->
       </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li>
        <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link' %>
      </li>
      <li>
        <%= link_to "投稿一覧", items_path, class: 'nav-link'  %>
      </li>
      <li>
        <%= link_to "ユーザー一覧", users_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% elsif admin_signed_in? %>
      <li>
        <%= link_to"会員一覧",admin_users_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to"投稿一覧",admin_posts_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to"カテゴリー一覧",admin_categories_path, class: 'nav-link' %>
      </li>
       <li>
        <%= link_to"ログアウト",destroy_admin_session_path, class: 'nav-link' %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'nav-link', method: :post %>
      </li>
      <li>
        <%= link_to "About", home_about_path, class: 'nav-link' %>
      </li>
    <% end %>
    </ul>
   </div>
   <%= form_with url: search_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit '検索' %>
   <% end %>
  </header>
    <%= yield %>
  </body>
</html>
